<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Informazioni sul post "{{ title }}"</title>
    <style type="text/css">
      table {width: 100%%;}
      th,
      tr,
      td { 
      border: 1px solid;
      vertical-align: top;
      padding: 1em;
      text-align: left;
      }
    </style>
  </head>

  <body>
    
    <h1>{{ ndesap }} commenti cancellati dal post
      <a href="{{ url }}">{{ title }}</a> (per ora)</h1>

    {% if comments %}
    <table>
      <tr>
        <th>data</th>
        <th>voti</th>
        <th>scomparso il</th>
        <th>firma</th>
        <th>testo del commento</th>
      </tr>

      {% for comment in comments %}
      <tr>
        <td>{{ comment.pdate }}</td>
        <td>{{ comment.votes }}</td>
        <td>{{ comment.when_dis }}</td>
        <td>{{ comment.signature }}</td>
        <td>{{ comment.text }}</td>        
        {% endfor %}
        
    </table>
    <p>
      pagina {{ page }} di {{ numpages }}. 
      {% if nextpage %}
      <a href="{{baseurl}}&page={{ nextpage }}">next</a>
      {% endif %}
    </p>
    <p>Vai a pagina
      {% for page in pages %}
      <a href="{{baseurl}}&page={{ page }}">{{ page }}</a>
      {% endfor %}
    </p>
    {% endif %}

    {% if downgraded %}
    <h2>Commenti con voto modificato</h2>
    <table>
      <tr>
        <th>data</th>
        <th>voti attuali</th>
        <th>voti prima del downgrade</th>
        <th>voti dopo il downgrade</th>
        <th>firma</th>
        <th>testo del commento</th>
      </tr>
      {% for comment in downgraded %}
      <tr>
        <td>{{ comment.pdate }}</td>
        <td>{{ comment.votes }}</td>
        <td>{{ comment.old_votes }}</td>
        <td>{{ comment.cur_votes }}</td>
        <td>{{ comment.signature }}</td>
        <td>{{ comment.text }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  </body>
</html>
